.query-card {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 10px;
}

.text-ctn {
    text-align: center;
    margin: 8px;
}

.title {
    color: gold;
    font-size: 30px;
    margin: 0;
}

.subheading {
    margin: 0;
    font-size: 17px;
}

.input {
    width: 50%;
    display: block;
    text-align: center;
}

.poke-search-box {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn {
    margin-left: 20px;
}

.gg-pokemon {
    margin-left: 7.5px;
}

.not-found-txt {
    margin: 15px;
    text-align: center;
}


.lds-facebook {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left : auto;
    margin-right : auto;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}